/*@ import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import "tailwindcss";

:root {
  /* Charte graphique PARTES */
  --dark-main: #121212;
  --dark-sidebar: #282828;
  --yellow: #FFAE03;
  --green: #05A8AA;
  --orange: #F44708;
  --purple: #944BBB;
  --light-sidebar: #731DD8;
  --light-main: #FFFFFF;
  --light-div: #E5E5E5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-main);
  color: var(--light-main);
  font-family: 'Montserrat', sans-serif;
}